:root {
    background: linear-gradient(209deg, #000000 0%, #292f2f 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
