.option {
    transition: 0.3s;
    width: 90%;
    height: 90%;
    background-color: #101010bf;
    border-radius: 15px;
    place-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option:hover {
    background-color: #2c2c2cbf;
}

.option:active {
    background-color: #5b5b5b;
}

.option p {
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 24px;
}

.correct {
    background-color: green !important;
}

.incorrect {
    background-color: red !important;
}
