.question {
    display: flex;
    flex-flow: column;
    height: 90%;
    padding: 5%;
}

.questionText {
    padding: 5%;
    text-align: center;
    font-size: 32px;
    color: white;
    height: fit-content;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 10px;
    flex: auto;
}
